In [1]:
import pandas as pd

In [13]:
df3 = pd.DataFrame([[51, 61], [71, 81]], columns=['a','b'])

In [14]:
df2.append(df3).reset_index(drop=True)

    a   b
0   5   6
1   7   8
2  51  61
3  71  81

In [15]:
[pd.DataFrame([i], columns=['A']) for i in range(5)]

[   A
 0  0,
    A
 0  1,
    A
 0  2,
    A
 0  3,
    A
 0  4]